{% extends  "base.html" %}

{% block content %}

    <section class="blog-area section">
    <div class="container">
        <div class="cont"></div>
    </div>


    {% block script %}
        <script>

        var postOffset =0;
        var timeout ;
        ArticleLoader();
        ArticleLoader();
        ArticleLoader();

        console.log("postOffset");
        function ArticleLoader () {
            url1  = '{% url "posts:list" %}ajax-posts/?offset='+postOffset;

            $.ajax({
                url: url1,
                dataType: 'html',
                success: function (data) {
                     var reply = data.replace(/\s+/, "");
                    console.log(reply);
                    var dat = $(reply).text();
                    if(reply === 'false'){
                        try {
                            $(document).off();
                            $(".cont").append("<blockquote>No more Posts to Display</blockquote>");
                            data ='';

                        }catch(e) {
                            alert(e)
                        }

                    }

                    $(".cont").append(data);
                    $(".cont img").addClass("img-responsive");


                    postOffset+=3;
                    console.log(postOffset)
                }

            })
        }
        var $window = $(window);
            $(document).scroll(function () {
                clearTimeout(timeout)
                timeout = setTimeout(function () {
                var distance = $window.scrollTop() + $window.height();
                    i=0;
                    if ($(window).scrollTop() >= $(document).height() - $(window).height() - 1000) {
                        console.log($window.height);
                        ArticleLoader();
                        ArticleLoader();


                    }

                },100)
            });

        </script>
    {% endblock script%}






{% endblock content %}